{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    {{ block.super }}
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- /.nav-wrapper -->

    <div class="container">
        <div class='main-content'>
            <h2>Throw a hackthon!</h2>
            <form name="form" id="matter-form" action="{% url 'issues:create_hackathon' issue.pk %}" method="POST" enctype="multipart/form-data" role="form">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="snippet">Summary(100 characters)</label>
                    <input type="text" name="snippet" id="snippet" class="form-control" required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="picture">Picture</label>
                    <input type="file" name="picture" id="picture" class="form-control" />
                </fieldset>

                <fieldset class="form-group">
                    <label for="description">Description</label>
                    <textarea rows="10" name="description" form="matter-form" id="description" class="form-control" required></textarea>
                </fieldset>

                <label>Project Due</label>
                <div class="row">
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label for="due_date">Date</label>
                            <input type="date" name="due_date" id="due_date" class="form-control" required />
                        </fieldset>
                    </div>
                    <div class="col-lg-6">
                        <fieldset class="form-group">
                            <label for="due_time">Time</label>
                            <input type="time" name="due_time" id="due_time" class="form-control" required />
                        </fieldset>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Throw it</button>

            </form>
        </div>
    </div>
{% endblock %}
